body {
text-align: center;
font-family: Comic Sans MS, cursive;
background: linear-gradient(#4facfe, #00f2fe);
}

video {
display: none;
}

canvas {
border: 4px solid black;
border-radius: 12px;
margin-top: 10px;
}

#score {
font-size: 24px;
margin-top: 10px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  background: #ff9800;
  color: white;
  cursor: pointer;
}
